* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 90vh;
}

.controls {
    width: 17rem;
    overflow: hidden;
    max-height: 500px;
    padding: 15px 30px;
}

.avatar {
    width: 10rem;
    height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    width: 100px;
    height: 100px;
    border-radius: 20% 20% 100% 100%;
}

.neck {
    width: 20px;
    height: 20px;
    margin: -3px 0 0 0;
}

.shoulder {
    width: 70px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    transform: translate( -40%, 4% ) rotate( -30deg );
}
.shoulder:nth-child(2) {
    transform: translate( 120%, 4% ) rotate( 30deg )
}

.arm {
    width: 35px;
    height: 130px;
    position: absolute;
    border-radius: 30% 30%;
    transform: translate(-110%, 15%) rotate(13deg);
}
.arm:nth-child(2) {
    transform: translate(368%, 15%) rotate(-11deg);
}

.torso {
    width: 130px;
    height: 180px;
    border-radius: 30% 30% 80% 80%;
}

.leg {
    width: 40px;
    height: 125px;
    position: absolute;
    transform: translate(40%, -22%) rotate(6deg);
}
.leg:nth-child(2) {
    transform: translate(200%, -22%) rotate(-6deg);
}

.foot {
    width: 70px;
    height: 30px;
    position: absolute;
    border-radius: 100% 5% 5% 30%;
    transform: translate(-28%, 300%) rotate(-8deg);
}
.foot:nth-child(2) {
    transform: translate(83%, 300%) rotate(-28deg);
}

.hair {
    background: green;
}