* {
    box-sizing: border-box;
    font-family: "Yusei Magic", sans-serif
}

body {
    background: repeating-linear-gradient(#7E3F8F, 90px, #8C86AA);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.loading-wrapper {
    width: 100%;
    background: white;
    position: fixed;
    display: flex;
}

.loading-wrapper img {
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.confetti-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.confetti-wrapper canvas {
    width: 100%;
    height: 100%;
}

.score p {
    color: white;
    font-size: 25px;
    margin-top: 0;
}

.person-face img {
    border-radius: 10%;
    width: 15rem;
    height: 15rem;
    border: 10px solid white;
}
.person-face img:hover {
    transform: scale( 4, 2 );
    padding-bottom: 25%;
    border: 0;
}

.country-guess {
    width: 40rem;
    text-align: center;
}
.country-guess p {
    background: white;
    padding: 15px 30px;
    text-align: center;
    border-radius: 1cm;
    box-shadow: 0 0 5px 0 #B2EF9B;
    display: inline-block;
    width: 17rem;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.country-guess.active p {
    cursor: pointer;
}
.country-guess.active p:hover,
.country-guess.active p.selected {
    background: linear-gradient( #B2EF9B, #DAFF7D );
    transform: scale(1.05);
    box-shadow: 0 0 5px 0 #7E3F8F;
}

.country-guess p.correct {
    background: greenyellow;
}
.country-guess p.incorrect {
    background: crimson;
}
.country-guess p.extra-answer {
    opacity: 0.4;
}

.country-guess .flag-icon {
    border-radius: 25%;
    opacity: 0.7;
}

.respond-button button {
    cursor: pointer;
    padding: 15px 50px;
    font-size: 25px;
    margin: 20px auto;
    box-shadow: 0 0 5px 0 #7e3f8f;
    color: #000c;
}

.respond-button button:hover {
    background: linear-gradient( #B2EF9B, #DAFF7D );
    transform: scale(1.05);
    box-shadow: 0 0 5px 0 #7E3F8F;
}
.respond-button button:disabled {
    background: #ccc;
    color: #999;
    box-shadow: 0 0 0 0 #7E3F8F;
    transform: scale(1);
}

.respond-message {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    background: white;
    padding-bottom: 25px;
    margin-top: 15px;
    border-radius: 100%;
}
.respond-message button {
    cursor: pointer;
    padding: 15px;
    background: white;
    font-size: 16px;
    margin-top: 15px;
}
.respond-message p {
    font-size: 24px;
    margin: 20px 0 0;
}

/******************************************/

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}