
#animated-elements {
    position: relative;
    width: inherit;
    height: inherit;
}
#animated-elements > * {
    position: absolute;
    z-index: 1;
}

#animated-elements .flag {
    right: 168px;
    top: 17px;
    width: 40px;
    height: 32px;
    animation: flagAnimation 0.5s infinite linear;
    background: url('/img/flag1.png');
}

@keyframes flagAnimation {
    0% { background: url('/img/flag1.png') }
    33% { background: url('/img/flag2.png') }
    66% { background: url('/img/flag3.png') }
}
