body {
    background: linear-gradient(rgb(27, 27, 27), rgb(71, 71, 71))no-repeat 
}

#game {
    width: 767px;
    height: 248px;
    position: relative;
    margin: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px 1px black;
}
#game > * {
    position: absolute;
}

#background {
    width: 767px;
    height: 176px;
    background: url('/img/bg.png');
    top: 0;
}
#floor {
    width: 767px;
    height: 72px;
    background: url('/img/floor.png');
    bottom: 0;
}