:root {
    --main-bg-color: black;
    --container-bg-color: black;
    --container-border-color: lightgreen;
    --line-color: red;
}

* {
    box-sizing: border-box;
}

body {
    background: var( --main-bg-color );
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.time-container {
    position: relative;
    background: var( --container-bg-color );
    border: 2px solid var( --container-border-color );
    width: 300px;
    height: 490px;
}

.line {
    position: absolute;
    background: var( --line-color );
    width: 200px;
    height: 100px;
    bottom: 0;
    border-radius: 15%;
}
.line-1, .line-7 {
    clip-path: polygon(0 0, 100% 0, 84% 31%, 16% 31%);
    left: 48px;
}

.line-1 {
    top: 25px;
}
.line-2, .line-3, .line-5, .line-6 {
    clip-path: polygon(50% 0, 100% 0, 85% 100%, 10% 100%, 0 50%, 10% 0);
    top: 120px;
    height: 30px;
}
.line-2 {
    right: -45px;
    transform: rotate( 90deg ) scaleX( -1 );
}
.line-3 {
    transform: rotate( 90deg ) scaleX( -1 ) scaleY( -1 );
    left: -45px;
}
.line-4 {
    clip-path: polygon(91% 0, 100% 50%, 91% 100%, 9% 100%, 0 50%, 9% 0);
    top: 220px;
    height: 40px;
    width: 170px;
    left: 64px;
}

.line-5 {
    top: 330px;
    transform: rotate( 90deg ) scaleX( 1 ) scaleY( -1 );
    left: -45px;
}
.line-6 {
    top: 330px;
    transform: rotate( 90deg ) scaleX( 1 );
    right: -45px;
}

.line-7 {
    transform: scaleY( -1 );
    bottom: 30px;
}